.perfil-card{

    max-width:650px;

    margin:40px auto;

    background:#fff;

    padding:35px;

    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.avatar{

    width:100px;

    height:100px;

    margin:auto;

    border-radius:50%;

    background:#198754;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    font-size:42px;

    font-weight:bold;

}

.form-label{

    font-weight:600;

    color:#444;

}

.form-control{

    height:48px;

    border-radius:10px;

}

.form-control:focus{

    box-shadow:none;

    border-color:#198754;

}

.info-box{

    background:#f8f9fa;

    border-radius:12px;

    padding:15px;

}

.info-box strong{

    display:block;

    color:#666;

}

.info-box p{

    margin:0;

    font-size:18px;

    font-weight:600;

}

.btn-success{

    height:48px;

    font-size:17px;

    border-radius:10px;

}

.toast-custom{

    position:fixed;

    right:25px;

    bottom:25px;

    background:#198754;

    color:white;

    padding:15px 25px;

    border-radius:10px;

    opacity:0;

    pointer-events:none;

    transition:.3s;

    font-weight:600;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.toast-custom.show{

    opacity:1;

}